* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
}
#logo {
  width: 200px;
}
nav {
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #202020;
}
h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.menu {
  list-style-type: none;
}
.tab-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.tab-item {
  display: inline-block;
  padding: 10px;
}
.tab-link.active {
  color: #ff0044;
}
.tab-link:hover {
  color: #ff0044;
  font-weight: bold;
}
#home {
  height: calc(100vh - 55px);
  width: 100%;
  background-image: url("slike/acechamp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  top: 0;
}
#home .layer {
  position: absolute;
  justify-items: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 1;
}
#home .container {
  position: relative;
  z-index: 2;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  border-radius: 30px;
}
.row {
  width: 75%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
}
.row-column {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#home .row > div {
  flex: 1;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home h1,
#home h1 span,
#home h2 {
  font-size: 50px;
  color: #ff0000;
  font-weight: 800;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
#home h2,
#home h2 span {
  font-size: 20px;
  color: #ff0000;
  font-weight: 800;
  font-style: italic;
}

#home h1 span,
#home h2 span {
  color: gold;
}
#home .col:nth-child(1) {
  align-items: flex-start;
}
#home .col:nth-child(2) {
  align-items: flex-end;
}
/* ABOUT */
section {
  height: 500px;
}
#about {
  background-color: #ff0044;
  background-color: #fff;
}
.card {
  display: flex;
  justify-content: space-between;
}
#about * {
  color: gray;
}
#about h1 {
  color: #ff0044;
}
#about .col {
  width: 50%;
}
#about h2 {
  font-size: 20px;
  font-weight: 800;
  color: #ff0044;
  margin-bottom: 50px;
}
/* HISTORY */
#history {
  height: 100vh;
  background-color: #ff0044;
}

#history .row {
  display: flex;
  column-gap: 30px;
}
#history {
  width: 100%;
}

.container {
  width: 100%;
}
/* #history .col-left {
  background-color: orange;
  width: 30%;
}
#history .col-right {
  width: 70%;
  background-color: green;
} */
#history .col-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#history .col-right {
  width: 70%;
}
h3 {
  font-size: 30px;
  font-weight: 800;
}
#history h3 {
  color: #fff;
}
section:nth-child(odd) p {
  color: white;
}

h4 {
  font-size: 20px;
  font-weight: 800;
}
#history h4 {
  color: white;
  margin: 25px 0;
}
#history h4 span {
  color: yellow;
  font-weight: 800;
}
#history .col-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-left: solid white 3px;
}
.grid-item p {
  text-align: justify;
}
#history h5 {
  color: white;
  font-weight: 800;
  font-size: 20px;
  color: yellow;
}
.grid-item {
  padding: 5%;
  transition: 0.3s;
  border-radius: 10px;
}
.grid-item:hover {
  background-color: #db003a;
  transform: scale(1.15);
}
