<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="styles/gallery.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/gallery.js" defer></script>
    <!-- Added defer for better loading performance -->
  </head>
  <body>
    <nav id="navbar">
      <span>VELO-M Gallery</span>
      <ul class="menu">
        <li class="tab-item">
          <a href="/" class="tab-link">HOME</a>
        </li>
        <li class="tab-item">
          <a href="/#about" class="tab-link">ABOUT</a>
        </li>
        <li class="tab-item">
          <a href="/history" class="tab-link">HISTORY</a>
        </li>
        <li class="tab-item">
          <a href="/results" class="tab-link">RESULTS</a>
        </li>
        <li class="tab-item">
          <a href="/gallery" class="tab-link">GALLERY</a>
        </li>
        <li class="tab-item">
          <a href="/#join" class="tab-link">JOIN US</a>
        </li>
        <li class="tab-item">
          <a href="/gallery/upload" class="tab-link">Upload Image</a>
        </li>
      </ul>
      <img
        onclick="toggleSideMenu()"
        id="breadcrumbs"
        src="logos/breadcrumbs.svg"
        alt=""
      />
    </nav>
    <div onclick="toggleSideMenu()" class="side-menu hidden">
      <!-- <img id="close" onclick="toggleSideMenu()" src="logos/close.svg" alt=""> -->
      <ul class="menu aside">
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/" class="tab-link-aside">HOME</a>
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#about" class="tab-link-aside"
            >ABOUT</a
          >
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#history" class="tab-link-aside"
            >HISTORY</a
          >
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#results" class="tab-link-aside"
            >RESULTS</a
          >
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/gallery" class="tab-link-aside"
            >GALLERY</a
          >
        </li>
        <li class="tab-item">
          <a onclick="toggleSideMenu()" href="/#join" class="tab-link-aside"
            >JOIN US</a
          >
        </li>
        <li class="tab-item">
          <a
            onclick="toggleSideMenu()"
            href="/#join"
            class="tab-link-aside upload-btn"
            >UPLOAD IMAGE</a
          >
        </li>
      </ul>
      <span>&copy;2024 Aleksandar Miloshevski. All rights reserved.</span>
    </div>
    <div class="container">
      <div id="gallery">
        <% images.forEach(image => { %>
        <div class="gallery-item">
          <img src="<%= image.url %>" alt="Image" />
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
